/* Nav bar style */

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    height: 75px;
}

.frame {
    margin-right: auto;
}

.menu img {
    height: 75px;
    width: auto;
}

.menu {
    background-color: #455086;
    overflow: hidden;
}

.menu a {
    float: right;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Second Nav Bar */

.nav {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    height: 40px;

    display: flex;
    text-align: center;
    justify-content: right;
    background-color: #60A040;
    align-items: center;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color:antiquewhite;
    color:black;
}

/* Logo Settings*/

.Logo2 {
    display: flex;
    justify-content: CENTER;
    align-items: CENTER;
    padding-top: 50px;
}

/* Top Page */

.header1 {
    font-size: 60px;
    padding: 30px;
    text-align: Center;
    text-decoration: underline;
}

.text1 {
    font-size: 27px;
    background-color: #98CE7C;
    border: 7px solid #385F24;
    text-align: center;
    margin: 0 auto;
    width: 850px;
}

.header2 {
    font-size: 60px;
    padding: 30px;
    text-align: Center;
    padding-top: 50px;
}

.text2 {
    font-size: 27px;
    background-color: #CFFFB6;
    border: 4px solid #000000;
    text-align: center;
    margin: 0 auto;
    width: 1000px;
    padding-top: -25px;
}

/* Search bar */

.searchText {
    font-size: 30px;
    padding: 30px;
    text-align: Center;
    padding-top: 50px;
}

form {
    display: flex;
    justify-content: center;
    padding-top: 50px
}

input {
    padding: 10px;
    width: 500px;
}

button {
    padding: 10px;
}

/* Background Effects */

 
* {
    margin: 0;
}

.bg1 {
    background-color: #D0F0C0;
}

.bg2 {
    background: #8FD56C;
}
